body {
    background-color: black;
    color: white;
    max-width: 1600px;
    margin: auto;
}

header {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav div {
    margin: 0 50px;
}

/* Best movie */
.best-movie {
    height: auto;
    width: auto;
    border: 1px solid red;
    display: flex;
    align-items: center;
}

.best-movie div {
    text-align: center;
    margin: 0 20px;
}

/* Slider */
.slider {
    margin-bottom: 25px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider .div-arrow {
    width: 35px;
}

.slider-arrow {
    width: 35px;
    height: 35px;
    border-radius: 25%;
}

.slides-movies {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.slide-movie {
    width: 200px;
    height: 270px;
    border: 1px solid blue;
    text-align: center;
}

